# OS
.DS_Store

# IDE
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln

# Environment Variables
/.env

# Dependencies
node_modules/
npm-debug.log*

# Nx Monorepo
.nx/cache
.nx/workspace-data
vite.config.*.timestamp*
vitest.config.*.timestamp*